node_modules/
**/node_modules/

.venv/
**/.venv/
venv/
**/venv/

dist/
build/
coverage/
.cache/
.expo/
.next/
.turbo/

.env
.env.*

__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/
env/

.DS_Store
Thumbs.db
*.log
*.docx
*.zip
*.jar

.idea/
.vscode/